@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$body-font-family: Montserrat, sans-serif;
$heading-font-family: "Fjalla One", sans-serif;
$normal-font-style: normal;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$purple-color: #873a8d;
$white-font-color: #fff;
$yellow-bg-color: #FEC629;
$center: center;
$relative-position: relative;
$display-flex: flex;
$active-bg-color: #efefef;
$montserrat-font: Montserrat;
$antonio-font:Antonio;
$cart-font-color:rgba(35, 35, 35, 0.6);
$cart-border-bottom-color: rgb(204 204 204 / 60%);
$checkout-border-color:#ccc;
$pointer:pointer;
