@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgba(35, 35, 35, 0.05);
}

.register-content {
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-heading {
    font-size: 3.5em;
    font-weight: normal;
    font-family: "Fjalla One", sans-serif !important;
    text-transform: uppercase;
    color: #673065;
}

.register-inputs {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
}

.register-inputs label {
    font-family: variables.$montserrat-font;
    font-size: 18px;
}

.register-inputs label,
.register-inputs input {
    grid-column: span 1;
}

.register-inputs input {
    font-family: variables.$montserrat-font;
    padding: 3vh 2vw;
    font-size: 18px;
    border: 1px solid #e4e4e4;

    &:focus {
        outline: none;
    }
}

.register-inputs a {
    font-family: variables.$montserrat-font;
    font-size: 17px;
    grid-column: span 2;
    text-align: center;
    margin-top: 10px;
    margin-left: 13vw;
    color: black;
    font-weight: variables.$font-weight-500;
}

.register-buttons {
    margin-top: 6.4vh;
    margin-right: 32.7vw;
    display: flex;
    flex-direction: column;
}

.register-signUp-button {
    font-family: variables.$montserrat-font;
    width: 10vw;
    margin-bottom: 10px;
    padding: 2vh 2.5vw;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: variables.$purple-color;
    color: white;
    font-weight: variables.$font-weight-600;

    &:hover {
        background-color: #a461a8;
    }
}

.register-buttons a {
    font-family: variables.$montserrat-font;
    font-size: 17px;
    text-align: center;
    color: black;
    font-weight: variables.$font-weight-500;
    margin-top: 1vh;
    margin-right: 6vw;
    cursor: pointer;
}

@media (max-width: 768px) {
    .register-heading {
        font-size: 1.5em;
    }

    .register-inputs {
        grid-template-columns: 1fr;
        margin-top: 5vh;
    }

    .register-inputs label,
    .register-inputs input {
        grid-column: span 2;
    }

    .register-inputs a {
        margin-left: 0;
        margin-bottom: 1vh;
    }

    .register-buttons {
        margin-right: 0;
        align-items: center;
        margin-top: 2vh;
    }

    .register-buttons .register-signUp-button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .register-heading {
        font-size: 1.2em;
    }

    .register-inputs input {
        font-size: 16px;
        padding: 2vh 1.5vw;
    }

    .register-inputs a {
        font-size: 15px;
    }

    .register-signUp-button {
        font-size: 14px;
        padding: 1.5vh 2vw;
    }

    .register-buttons a {
        font-size: 15px;
    }
}